/* IMPORT */
@import "general.less";

/* MEDIA */
@media print {
    @page { margin: 0; }
    
    body { visibility: hidden; }

    .tab-content {
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        print-color-adjust: exact; /* General support */
        -webkit-print-color-adjust: exact; /* Chromium support */
        top: 0;
        visibility: visible;
    }
}

/* PAPER */
.paper {
    cursor: default;
    padding: @size-spacing;
    width: @size-width-paper;
    max-width: @size-width-paper;
    min-width: @size-width-paper;

    * { font-family: @font-paper; }
    h6 {
        margin: 0;
        text-align: center;
    }
    input[type=number],
    input[type=text],
    select {
        border: none;
        padding: 0;
    }
    select {padding-left: 2px;}
    span { display: block; }
    table { margin: calc(@size-spacing / 2) 0; }
    td, th { padding: 3px 15px; }
    th { text-transform: uppercase; }

    .border-space { padding: calc(@size-spacing / 4) @size-spacing; } /* SF10 */
    .break { height: calc(@size-spacing / 2); }
    .heading {
        background-color: rgba(@color-theme, @opacity-step);
        margin: calc(@size-spacing / 2) 0;
        padding: calc(@size-spacing / 4) 0;
    }
}